@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.otf") format("embedded-opentype");
  font-display: swap;
}

html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  background-color: #E5E5E5;
}

/*Pages*/
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-size: 100%;
  background-repeat: no-repeat;
}

.name {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}
.headline {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
}

/*List*/
.advantages-list {
  text-align: center;
}

/*Title*/
.advantages-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #212B31;
}

.advantages-description {
 font-family: "Inter", sans-serif;
 font-size: 16px;
 line-height: 24px;
 text-align: center;
 color: #72787D;
}

/*Control*/
.control-head {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.control-description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.control-project {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.care-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  color: #212B31;
}

.care-description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #72787D;
}

.additional {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #212B31;
}

.constr-head {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.constr-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.construction-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
}
.construction-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
}

.delivery-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.delivery-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.delivery-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
}

.delivery-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
}

.all-delivery {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #212B31;
}

.all {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #72787D;
}

.reliability-heading {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.icon-reliability {
  background-image: url(../images/icons/reliability.svg);
  width: 43px;
  min-height: 41px;
}

.reliability-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.reliability-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #212B31;
}

.reliability-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #72787D;
}

.icon-arms {
  color: #000000;
  background-image: url(../images/icons/robust-design.svg);
  width: 36px;
  min-height: 37px;
}

.construction-info {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.for-building {
  color: #FFFFFF;
  background-color: #212B31;
}

.established {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
}

.positive-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.positive-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  opacity: 0.75;
}

.attraction-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.attraction-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  opacity: 0.75;

}

.work {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  color: #212B31;
}

.work-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #72787D;
}

.stage-title {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
}

.stage-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
}

.choose-head {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.choose-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #212B31;
}
.choose-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
}

.choose-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
}

.review-text {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  line-height: 48px;
  text-align: left;
  color: #212B31;
}

/*Icons*/
.machines-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/machines-50.svg);
  width: 126px;
  min-height: 201px;
}

.builtworld-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/builtworld.svg);
  width: 164px;
  min-height: 189px;
}

.global-contech-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/contech.svg);
  width: 162px;
  min-height: 200px;
}

.proptech-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/proptech.svg);
  width: 184px;
  min-height: 201px;
}

.offer {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
}
