@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.otf") format("embedded-opentype");
  font-display: swap;
}

html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  background-color: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Button*/
.order-button {
  font-family: inherit;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  width: 143px;
  height: 34px;
  text-align: center;
  color: #FFFFFF;
  background-color:#212B31;
  text-decoration: none;
}

.demo {
  font-family: inherit;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color:#212B31;
  text-decoration: none;
}

.more-details {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
  background-color:#FFFFFF;
  text-decoration: none;
}

.all-details {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
  background-color:#FFFFFF;
  text-decoration: none;
}

.button-demo {
  font-family: inherit;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
  background-color:#FFFFFF;
  text-decoration: none;
}

.button-details {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color:#212B31;
  text-decoration: none;
}
.contact {
  padding-right: 20px;
  position: absolute;
}

.contact-us {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
  background-color:#FFFFFF;
  text-decoration: none;
}

/*Pages*/
.page-container {
  width: 1440px;
  margin: 0 auto;
}

.logo {
  display:block;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 857px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding-left: 22px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.navigation-user {
  min-width: 103px;
  min-height: 16px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-size: 100%;
  background-repeat: no-repeat;
}

.name {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.headline {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
}

/*List*/
.advantages-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Item*/
.advantages-item {
  width: 325px;
}

/*Title*/
.advantages-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #212B31;
}

.advantages-description {
 font-family: "Inter", sans-serif;
 font-size: 16px;
 line-height: 24px;
 text-align: center;
 color: #72787D;
}



/*Control*/
.control-head {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.control-description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.control-project {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}


.care-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  color: #212B31;
}

.care-description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #72787D;
}


.additional {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #212B31;
}


.constr-head {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.constr-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.construction-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
}
.construction-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
}

.delivery-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;

}

.delivery-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.delivery-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.delivery-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
}

.delivery-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
}

.all-delivery {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #212B31;
}

.all {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #72787D;
}

.reliability-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}

.reliability-heading {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.icon-reliability {
  background-image: url(../images/icons/reliability.svg);
  width: 43px;
  min-height: 41px;
}

.reliability-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.reliability-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #212B31;
}

.reliability-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #72787D;
}

.icon-arms {
  color: #000000;
  background-image: url(../images/icons/robust-design.svg);
  width: 36px;
  min-height: 37px;
}

.construction-info {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.for-building {
  color: #FFFFFF;
  background-color: #212B31;
}

.established {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
}

.positive-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.positive-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  opacity: 0.75;
}

.attraction-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}

.attraction-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.attraction-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.75;

}

.work {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  color: #212B31;
}

.work-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #72787D;
}

.stage-title {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
}

.stage-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}
.choose-head {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
}

.choose-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #212B31;
}
.choose-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
}

.choose-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
}

.review {
  padding-left: 178px;
}

.review-text {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  line-height: 48px;
  text-align: left;
  color: #212B31;
}

/*Icons*/
.machines-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/machines-50.svg);
  width: 126px;
  min-height: 201px;
}

.builtworld-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/builtworld.svg);
  width: 164px;
  min-height: 189px;
}

.global-contech-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/contech.svg);
  width: 162px;
  min-height: 200px;
}

.proptech-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/proptech.svg);
  width: 184px;
  min-height: 201px;
}

.offer {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
}

/*Footer*/
.page-footer-container {
  display: flex;
  width: 1440px;
  margin: 0 auto;
}

.name-footer {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

contacts {
  width: 221px;
  margin-right: 160px;
}
.contacts-address-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #72787D;
}

.htmlacademy-link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.contacts-phone {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.product {
  width: 104px;
  margin-right: 160px;
}

.service {
  width: 111px;
  margin-right: 160px;
}

.product-head,
.service-head,
.company-head {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #212B31;
}

.process {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.production {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.clients {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.safety {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.about {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.connection {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.rights-reserved {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.privacy-policy {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  color: #72787D;
}
