@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.otf") format("embedded-opentype");
  font-display: swap;
}

html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  background-color: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Button*/
.order-button {
  font-family: inherit;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  width: 143px;
  height: 34px;
  text-align: center;
  color: #FFFFFF;
  background-color:#212B31;
  text-decoration: none;
}

.demo {
  font-family: inherit;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color:#212B31;
  text-decoration: none;
}

.more-details {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
  background-color:#FFFFFF;
  text-decoration: none;
}

.all-details {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
  background-color:#FFFFFF;
  text-decoration: none;
}

.button-demo {
  font-family: inherit;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
  background-color:#FFFFFF;
  text-decoration: none;
}

.button-details {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color:#212B31;
  text-decoration: none;
}
.contact {
  padding-right: 20px;
  position: absolute;
}

.contact-us {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
  background-color:#FFFFFF;
  text-decoration: none;
}

/*Pages*/
.page-container {
  width: 1440px;
  margin: 0 auto;
}

.logo {
  display:block;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 857px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding-left: 22px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.navigation-user {
  min-width: 103px;
  min-height: 16px;
}

.main-container {
  flex-grow: 1;
  padding-top: 74px;
  padding-bottom: 157px;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-size: 100%;
  background-repeat: no-repeat;
}

.name {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.headline {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
}
.construction {
  padding-top: 88px;
  padding-bottom: 36px;
}

.trucks {
  padding-bottom: 148px;
}

/*Advantages*/
.advantages {
  margin-bottom: 142px;
}
/*List*/
.advantages-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Item*/
.advantages-item {
  width: 325px;
}

/*Title*/
.advantages-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #212B31;
  margin-top: 20px;
  margin-bottom: 10px;
}

.advantages-description {
 font-family: "Inter", sans-serif;
 font-size: 16px;
 line-height: 24px;
 text-align: center;
 color: #72787D;
 margin: 0;
}


/*Control*/
.control-head {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
  margin: 0;
}

.control-description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
  margin-top: 16px;
  margin-bottom: 40px;
}

.control-chaos {
  margin-bottom: 144px;
}

.control-project {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
  margin-bottom: 168px;
}

.columns-1 {
  display: grid;
  grid-template-rows: 144px 96px 32px;
  grid-template-columns: 542px 464px;
  gap: 16px;
}

.care-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  color: #212B31;
  margin-top: 0;
  margin-bottom: 16px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.care-description {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #72787D;
  margin-top: 0;
  margin-bottom: 28px;
  grid-column: 1/2;
  grid-row: 2/3;
}


.additional {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #212B31;
  grid-column: 1/2;
  grid-row: 3/4;
}

.care-image {
  margin-bottom: 128px;
}

.companies-img {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px 180px;
  grid-template-rows: 81px 57px;
  gap: 39px;
  margin-top: 128px;
}

.besix-img {
  grid-column: 1/2;
  grid-row: 1/2;
}

.sixconstruct-img {
  grid-column: 2/3;
  grid-row: 1/2;
}

.echoinvestment-img {
  grid-column: 3/4;
  grid-row: 1/2;
}

.kajima-img {
  grid-column: 4/5;
  grid-row: 1/2;
}

.lafarge-img {
  grid-column: 5/6;
  grid-row: 1/2;
}

.skanska-img {
  grid-column: 3/4;
  grid-row: 2/3;
}

.constr-control {
  display: grid;
  grid-template-rows: 48px 96px;
  grid-template-columns: 307px 827px 306px;
  gap: 21px;
  margin-top: 136px;
}

.constr-head {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
  margin: 0;
  grid-row: 1/2;
  grid-column: 2/3;
}

.constr-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
  margin-top: 0;
  margin-bottom: 95px;
  grid-row: 2/3;
  grid-column: 2/3;
}

.constr-list {
  display: grid;
  grid-template-columns:  500px 101px 515px ;
  grid-template-rows: 24px 96px 130px 24px 96px 119px 24px 96px;
  margin-top: 28px;
  list-style-type: none;
}

.track-photo {
  grid-row: 1/4;
  grid-column: 3/4;
}

.optimize-photo {
  grid-row: 5/7;
  grid-column: 2/3;
}

.construction-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
  margin-bottom: 19px;
}

.chain {
  grid-row: 1/2;
  grid-column: 2/3;
}

.construction-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
}

.description-chain {
  grid-column:;
  grid-row: ;
}

.delivery-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;

}

.delivery-title {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
  margin-top: 143px;
  margin-bottom: 21px;
}

.delivery-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
  margin-bottom: 43px;
}

.delivery-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
  margin: 0;
}

.delivery-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
  margin-top: 11px;
  margin-bottom: 33px;
}

.all-delivery {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #212B31;
  margin-top: 22px;
  margin-bottom: 125px;
}

.all {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #72787D;
}

.reliability-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}

.reliability-heading {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
  margin-top: 143px;
  margin-bottom: 17px;
}

.icon-reliability {
  background-image: url(../images/icons/reliability.svg);
  width: 43px;
  min-height: 41px;
}

.reliability-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
  margin-bottom: 48px;
}

.reliability-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #212B31;
  margin-top: 19px;
  margin-bottom: 11px;
}

.reliability-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #72787D;
  margin-bottom: 266px;
}

.icon-arms {
  color: #000000;
  background-image: url(../images/icons/robust-design.svg);
  width: 36px;
  min-height: 37px;
}

.construction-info {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #72787D;
}

.for-building {
  color: #FFFFFF;
  background-color: #212B31;
  margin-top: 193px;
}

.established {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  margin-top: 143px;
}

.positive-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin-top: 50px;
}

.positive-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  opacity: 0.75;
  margin-top: 10px;
  margin-bottom: 24px;
}

.positive-description:last-child {
  margin-bottom: 63px;
}

.attraction-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.attraction-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 10px;
}

.attraction-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.75;
  margin-bottom: 142px;
}

.device-image {
  margin-bottom: 127px;
}

.work {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  color: #212B31;
  margin-top: 143px;
}

.work-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #72787D;
  margin-top: 21px;
  margin-bottom: 60px;
}

.stages-item {
  list-style-type: none;
}

.stage-title {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
  margin-bottom: 10px;
}

.stage-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
  margin-bottom: 30px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}
.choose-head {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #212B31;
  margin-top: 96px;
}

.choose-info {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #212B31;
  margin-top: 17px;
  margin-bottom: 55px;
}

.choose-title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #212B31;
  margin-bottom: 10px;
}

.choose-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #72787D;
  margin-bottom: 30px;
}

.review {
  padding-left: 178px;
}

.review-text {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  line-height: 48px;
  text-align: left;
  color: #212B31;
  margin-top: 115px;
}

.name-surname {
  margin-top: 32px;
  margin-bottom: 1px;
}

.position {
  margin-bottom: 33px;
}

/*Icons*/
.honors {
 margin-top: 127px;
 margin-bottom: 149px;
}

.machines-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/machines-50.svg);
  width: 126px;
  min-height: 201px;
}

.builtworld-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/builtworld.svg);
  width: 164px;
  min-height: 189px;
}

.global-contech-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/contech.svg);
  width: 162px;
  min-height: 200px;
}

.proptech-icon {
  color: #FFFFFF;
  background-image: url(../images/icons/proptech.svg);
  width: 184px;
  min-height: 201px;
}

.offer {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  text-align: center;
  color: #212B31;
}

/*Footer*/
.page-footer {
  font-size: 16px;
  font-weight: 400;
  color: #212B31;
  background-color: #FFFFFF;
  background-repeat: repeat;
}

.page-footer-container {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding-left: 192px;
  padding-right: 193px;
}

.page-footer-title {
  margin-top: 0;
  margin-bottom: 22px;
}

.name-footer {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

contacts {
  width: 221px;
  margin-right: 160px;
}
.contacts-address-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #72787D;
}

.htmlacademy-link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.contacts-phone {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.footer-social {
  margin-left: 0;
  max-width: 24px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  display: flex;
  flex-wrap: wrap;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.product {
  width: 104px;
  margin-right: 160px;
}

.service {
  width: 111px;
  margin-right: 160px;
}

.product-head,
.service-head,
.company-head {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #212B31;
}

.process {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.production {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.clients {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.safety {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.about {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.connection {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.rights-reserved {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #72787D;
}

.privacy-policy {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  color: #72787D;
}
